<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Update Movie</title>

    <th:block layout:fragment="contents">
        <link href="/webjars/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" rel="stylesheet">
    </th:block>
</head>
<body>

<div layout:fragment="content">

    <div class="row">

        <h2>Update Movie</h2>
        <form class="row g-3" th:action="@{/movies/update/{id}(id=${movie.id})}" method="post" th:object="${movie}">

            <div class="col-md-6">
                <label for="inpName" class="form-label">Movie name</label>
                <input type="text" class="form-control" id="inpName" th:field="*{name}"
                       th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:errors="*{name}"></div>
            </div>
            <div class="col-md-3">
                <label for="inpDate" class="form-label">Release date</label>
                <input type="date" class="form-control" id="inpDate" name="releaseDate" th:field="*{releaseDate}"
                       th:classappend="${#fields.hasErrors('releaseDate') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:errors="*{releaseDate}"></div>
            </div>
            <div class="col-md-3">
                <label for="inpMedia" class="form-label">Media</label>
                <input type="text" class="form-control" id="inpMedia" th:field="*{media}"
                       th:classappend="${#fields.hasErrors('media') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:errors="*{media}"></div>
            </div>

            <div class="col-md-6">
                <label for="inpDescription" class="form-label">Description</label>
                <textarea class="form-control" id="inpDescription" th:field="*{description}"
                          th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}"></textarea>
                <div class="invalid-feedback" th:errors="*{description}"></div>
            </div>

            <div class="col-md-3">
                <label for="inpGenres" class="form-label">Genres</label>
                <select class="selectpicker" id="inpGenres" multiple title="Choose..." data-live-search="true"
                        name="genres" th:classappend="${#fields.hasErrors('genres') ? 'is-invalid' : ''}">
                    <option th:each="genre : ${genres}" th:selected="${movie.genres.![id].contains(genre.id)}"
                            th:value="${genre.id}" th:text="${genre.name}"></option>
                </select>
                <div class="invalid-feedback" th:errors="*{genres}"></div>
            </div>

            <div class="col-md-3">
                <label for="inpLanguages" class="form-label">Languages</label>
                <select class="selectpicker" id="inpLanguages" multiple title="Choose..." data-live-search="true"
                        name="languages" th:classappend="${#fields.hasErrors('languages') ? 'is-invalid' : ''}">
                    <option th:each="language : ${languages}"
                            th:selected="${movie.languages.![id].contains(language.id)}" th:value="${language.id}"
                            th:text="${language.name}"></option>
                </select>
                <div class="invalid-feedback" th:errors="*{languages}"></div>
            </div>

            <div class="col-12">
                <button class="btn btn-secondary" type="button"
                        th:onclick="|window.location.href='/movies/update/${movie.id}'|">Reset
                </button>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>

    </div>

    <hr>

    <h3>Manage Roles</h3>
    <table id="example" class="table table-hover">
        <thead>
        <tr>
            <th>Actor Name</th>
            <th>Role Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="character : ${characterDetailResults}">
            <td th:text="${character.actorName}"></td>

            <td>
                <span class="d-flex justify-content-between">

                    <span th:text="${character.roleName}"></span>

                    <div>
                        <button class="btn btn-sm text-warning" data-toggle="tooltip" data-placement="top"
                                title="edit"
                                th:attr="onclick=|updateRole('${character.movieId}','${character.actorId}', '${character.roleName}')|">
                            <i class="fas fa-edit"></i>
                        </button>

                        <a th:href="@{/movie-actor/delete/{movieId}/{actorId}(movieId=${character.movieId}, actorId=${character.actorId}, redirectController='movie')}"
                           title="delete" class="btn btn-sm text-danger">
                            <i class="fas fa-trash"></i>
                        </a>

                    </div>

                </span>
            </td>
        </tr>
        </tbody>
    </table>

    <th:block th:replace="fragments/movie-actor/update-role-modal.html::modal(${characterDto}, |'movie'|)"/>

    <!-- Create Role Modal-->
    <div class="modal fade" id="modalCreateRole" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="formActor" th:action="@{/movie-actor/create(redirectController='movie')}"
                  method="post" th:object="${characterDto}">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Actor Role</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <input name="movieId" th:value="${movie.id}" type="hidden">

                        <div class="form-floating mb-3">
                            <select class="form-select" id="characterActor" th:field="*{actorId}"
                                    th:classappend="${#fields.hasErrors('actorId') ? 'is-invalid' : ''}">
                                <option th:each="actor : ${actors}" th:value="${actor.id}"
                                        th:text="${actor.fullName}"></option>
                            </select>
                            <label for="characterActor">Select actor</label>
                            <div class="invalid-feedback" th:errors="*{actorId}"></div>
                        </div>

                        <div class="form-floating mb-3">
                            <input id="characterRole" th:field="*{roleName}" type="text" class="form-control"
                                   th:classappend="${#fields.hasErrors('roleName') ? 'is-invalid' : ''}"
                                   placeholder="Enter a role name">
                            <label for="characterRole">Enter a role name</label>
                            <div class="invalid-feedback" th:errors="*{roleName}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<th:block layout:fragment="scripts">

    <script src="/webjars/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>

    <script th:inline="javascript">

        let modal = $("#modalRole");
        let modalCreateRole = $("#modalCreateRole");
        let formActor = $("#formActor");
        let formCharacter = $("#formCharacter");

        function updateRole(movieId, actorId, roleName) {
            $("#characterMovieId").val(movieId);
            $("#characterActorId").val(actorId);
            $("#characterRoleName").val(roleName);
            showModal();
        }

        function showModal() {
            formCharacter.find('.is-invalid').removeClass('is-invalid');
            modal.modal('show');
        }

        function showCreateRoleModal() {
            formActor.find('.is-invalid').removeClass('is-invalid');
            modalCreateRole.modal('show');
        }

        $(document).ready(function () {

            $('#example').DataTable({
                dom: 'Bfrtipl',
                order: [
                    [0, "asc"]
                ],
                buttons: {
                    buttons: [
                        {
                            text: "Create New",
                            action: function (e, dt, node, config) {
                                showCreateRoleModal();
                            }
                        }
                    ],
                    dom: {
                        button: {
                            tag: "button",
                            className: "btn btn-sm btn-success"
                        }
                    }
                }
            });

            let showModalAttr = /*[[${showModal}]]*/ 'default';

            if (showModalAttr === 'createRole') {
                modalCreateRole.modal('show');
            }else if (showModalAttr === 'updateRole') {
                modal.modal('show');
            }
        });

    </script>

</th:block>

</body>
</html>