<!DOCTYPE html>
<html lang="en" class="h-100"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Movie Catalog</title>

    <link href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="" rel="stylesheet"/>
    <link href="/webjars/font-awesome/5.15.2/css/all.min.css" rel="stylesheet"/>
    <link href="/webjars/datatables/1.10.24/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
    <link href="/webjars/datatables-buttons/1.7.0/css/buttons.dataTables.min.css" rel="stylesheet"/>
    <link href="/webjars/datatables-buttons/1.7.0/css/buttons.bootstrap5.min.css" rel="stylesheet"/>

    <th:block layout:fragment="styles"/>
</head>
<body class="d-flex flex-column h-100">

<!--header-->
<th:block th:replace="fragments/header.html::header"/>

<!--content-->
<main class="container my-2 flex-shrink-0">
    <div layout:fragment="content">
    </div>
</main>

<!--footer-->
<th:block th:replace="fragments/footer.html::footer"/>

<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/datatables/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="/webjars/datatables/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<script src="/webjars/datatables-buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="/webjars/datatables-buttons/1.7.0/js/buttons.bootstrap5.min.js"></script>

<th:block layout:fragment="scripts"/>

</body>
</html>