<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Actor Detail</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12 mb-2">
            <h3>Actor Details</h3>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td><strong>Full Name</strong></td>
                    <td th:text="${actorDto.fullName}">Otto</td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="col-12 mt-3">
            <h3>Roles</h3>

            <table id="example" class="table table-hover">
                <thead>
                <tr>
                    <th>Movie Name</th>
                    <th>Role Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="character : ${characterDetailResults}">
                    <td th:text="${character.movieName}"></td>
                    <td th:text="${character.roleName}"></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>

<th:block layout:fragment="scripts">

    <script>

        $(document).ready(function () {

            $('#example').DataTable({
                dom: 'frtipl',
                order: [
                    [0, "asc"]
                ]
            });
        });

    </script>

</th:block>


</body>
</html>