<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Actors</title>

    <th:block layout:fragment="styles">
        <link href="/webjars/datatables/1.10.24/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
        <link href="/webjars/datatables-buttons/1.7.0/css/buttons.dataTables.min.css" rel="stylesheet"/>
        <link href="/webjars/datatables-buttons/1.7.0/css/buttons.bootstrap5.min.css" rel="stylesheet"/>
    </th:block>

</head>
<body>

<div layout:fragment="content">


    <h2>Manage Actors</h2>

    <table id="example" class="display table table-sm table-striped " style="width:100%">

        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                        <span class="d-flex justify-content-between">
                            Tiger Nixon
                            <span>
                                <a href="#" title="edit" class="btn btn-sm text-warning">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="#" title="delete" class="btn btn-sm text-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>

                        </span>
            </td>
        </tr>
        <tr>

            <td>
                        <span class="d-flex justify-content-between">
                            Garrett Winters
                            <span>
                                <a href="#" title="edit" class="btn btn-sm text-warning">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="#" title="delete" class="btn btn-sm text-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>

                        </span>
            </td>

        </tr>
        <tr>
            <td>
                        <span class="d-flex justify-content-between">
                            Ashton Cox <span>
                                <a href="#" title="edit" class="btn btn-sm text-warning">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="#" title="delete" class="btn btn-sm text-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>

                        </span>
            </td>
        </tr>
        <tr>
            <td>
                        <span class="d-flex justify-content-between">
                            Cedric Kelly <span>
                                <a href="#" title="edit" class="btn btn-sm text-warning">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="#" title="delete" class="btn btn-sm text-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>

                        </span>
            </td>
        </tr>
        <tr>
            <td>
                        <span class="d-flex justify-content-between">
                            Rhona Davidson <span>
                                <a href="#" title="edit" class="btn btn-sm text-warning">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="#" title="delete" class="btn btn-sm text-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>

                        </span>
            </td>
        </tr>
        <tr>
            <td>
                        <span class="d-flex justify-content-between">
                            Colleen Hurst <span>
                                <a href="#" title="edit" class="btn btn-sm text-warning">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="#" title="delete" class="btn btn-sm text-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>

                        </span>
            </td>
        </tr>
        <tr>
            <td>
                        <span class="d-flex justify-content-between">
                            Sonya Frost <span>
                                <a href="#" title="edit" class="btn btn-sm text-warning">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="#" title="delete" class="btn btn-sm text-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>

                        </span>
            </td>
        </tr>
        <tr>
            <td>
                        <span class="d-flex justify-content-between">
                            Jena Gaines <span>
                                <a href="#" title="edit" class="btn btn-sm text-warning">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="#" title="delete" class="btn btn-sm text-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>

                        </span>
            </td>
        </tr>
        <tr>
            <td>
                        <span class="d-flex justify-content-between">
                            Quinn Flynn <span>
                                <a href="#" title="edit" class="btn btn-sm text-warning">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="#" title="delete" class="btn btn-sm text-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>

                        </span>
            </td>
        </tr>
        <tr>
            <td>
                        <span class="d-flex justify-content-between">
                            Charde Marshall
                            <span>
                                <a href="#" title="edit" class="btn btn-sm text-warning">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="#" title="delete" class="btn btn-sm text-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>

                        </span>
            </td>
        </tr>
        <tr>
            <td>
                        <span class="d-flex justify-content-between">
                            Haley Kennedy
                            <span>
                                <a href="#" title="edit" class="btn btn-sm text-warning">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="#" title="delete" class="btn btn-sm text-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>

                        </span>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<th:block layout:fragment="scripts">
    <script src="/webjars/datatables/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="/webjars/datatables/1.10.24/js/dataTables.bootstrap5.min.js"></script>
    <script src="/webjars/datatables-buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="/webjars/datatables-buttons/1.7.0/js/buttons.bootstrap5.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtipl',

                buttons: {
                    buttons: [
                        {
                            text: "Create New",
                            action: function (e, dt, node, config) {
                                alert("create new");
                            }
                        }
                    ],
                    dom: {
                        button: {
                            tag: "button",
                            className: "btn btn-sm btn-success"
                        }
                    }
                }
            });
        });

    </script>

</th:block>

</body>
</html>