<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Update Actor</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">

        <div class="col-md-6">
            <h3>Update Actor</h3>
            <form th:action="@{/actors/update/{id}(id=${actorDto.id})}" method="post" th:object="${actorDto}">
                <div class="card">
                    <div class="card-body">

                        <input th:field="*{id}" type="hidden">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="actorFullName" th:field="*{fullName}" required
                                   th:classappend="${#fields.hasErrors('fullName') ? 'is-invalid' : ''}">
                            <label for="actorFullName">Actor full name</label>
                            <div class="invalid-feedback" th:errors="*{fullName}"></div>
                        </div>

                        <div class="d-flex justify-content-end">

                            <a th:href="@{/actors/delete/{id}(id=${actorDto.id})}"
                               class="card-link btn btn-sm btn-danger">
                                Remove
                            </a>
                            <button type="reset" class="card-link btn btn-sm btn-secondary">Reset</button>
                            <button type="submit" class="card-link btn btn-sm btn-primary">Submit</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <h3>Create Actor Role</h3>
            <form id="formActor" th:action="@{/movie-actor/create(redirectController='actor')}" method="post"
                  th:object="${characterDto}">

                <div class="card">
                    <div class="card-body">

                        <input name="actorId" th:value="${actorDto.id}" type="hidden">

                        <div class="form-floating mb-3">
                            <select class="form-select" id="characterMovie" th:field="*{movieId}"
                                    th:classappend="${#fields.hasErrors('movieId') ? 'is-invalid' : ''}">
                                <option th:each="movie : ${movieIdNameResults}" th:value="${movie.id}"
                                        th:text="${movie.name}"></option>
                            </select>
                            <label for="characterMovie">Select movie</label>
                            <div class="invalid-feedback" th:errors="*{movieId}"></div>
                        </div>

                        <div class="form-floating mb-3">
                            <input id="characterRole" th:field="*{roleName}" type="text" class="form-control"
                                   th:classappend="${#fields.hasErrors('roleName') ? 'is-invalid' : ''}"
                                   placeholder="Enter a role name">
                            <label for="characterRole">Enter a role name</label>
                            <div class="invalid-feedback" th:errors="*{roleName}">
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="reset" class="card-link btn btn-sm btn-secondary">Clear</button>
                            <button type="submit" class="card-link btn btn-sm btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h3>Manage Roles</h3>
    <table id="example" class="table table-hover">
        <thead>
        <tr>
            <th>Movie Name</th>
            <th>Role Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="character : ${characterDetailResults}">
            <td th:text="${character.movieName}"></td>

            <td>
                <span class="d-flex justify-content-between">

                    <span th:text="${character.roleName}"></span>

                    <div>
                        <button class="btn btn-sm text-warning" data-toggle="tooltip" data-placement="top"
                                title="edit"
                                th:attr="onclick=|updateRole('${character.movieId}','${character.actorId}', '${character.roleName}')|">
                            <i class="fas fa-edit"></i>
                        </button>

                        <a th:href="@{/movie-actor/delete/{movieId}/{actorId}(movieId=${character.movieId}, actorId=${character.actorId}, redirectController='actor')}"
                           title="delete" class="btn btn-sm text-danger">
                            <i class="fas fa-trash"></i>
                        </a>

                    </div>

                </span>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Update Role Modal -->
    <th:block th:replace="fragments/movie-actor/update-role-modal.html::modal(${characterDto}, 'actor')"/>

</div>

<th:block layout:fragment="scripts">

    <script th:inline="javascript">

        let modal = $("#modalRole");
        let formActor = $("#formActor");
        let formCharacter = $("#formCharacter");

        function updateRole(movieId, actorId, roleName) {
            $("#characterMovieId").val(movieId);
            $("#characterActorId").val(actorId);
            $("#characterRoleName").val(roleName);
            showModal();
        }

        function showModal() {
            formCharacter.find('.is-invalid').removeClass('is-invalid');
            modal.modal('show');
        }

        $(document).ready(function () {

            $('#example').DataTable({
                dom: 'frtipl',
                order: [
                    [0, "asc"]
                ]
            });

            let showModalAttr = /*[[${showModal}]]*/ 'default';

            if (showModalAttr && showModalAttr !== 'default') {
                formActor.find('.is-invalid').removeClass('is-invalid');
                modal.modal('show');
            }
        });

    </script>

</th:block>

</body>
</html>