<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<!-- Update Role Modal-->
<div th:fragment="modal(characterDto, redirectController)" class="modal fade" id="modalRole" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="formCharacter" th:action="@{/movie-actor/update(redirectController=${__${redirectController}__})}"
              method="post" th:object="${characterDto}">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Role Name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input id="characterMovieId" th:field="*{movieId}" type="hidden" th:value="0">
                    <input id="characterActorId" th:field="*{actorId}" type="hidden" th:value="0">

                    <div class="form-floating mb-3">
                        <input id="characterRoleName" th:field="*{roleName}" type="text" class="form-control"
                               th:classappend="${#fields.hasErrors('roleName') ? 'is-invalid' : ''}"
                               placeholder="Enter a role name">
                        <label for="characterRoleName">Enter a role name</label>
                        <div class="invalid-feedback" th:errors="*{roleName}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>